<!DOCTYPE html>
<h1>BlogApp</h1>
<!--
https://rarararails-miyasu.c9users.io/bblogs/home/index
上記アドレスをトップページにした
(rootの設定はtcloneでやったので、bblogappでは設定してない)
<p>Find me in app/views/home/index.html.erb</p>
-->
<p>Bootstrapシリーズ課題2</p>

  <section class="main-header">
    <img src="/assets/bblog_top.jpg">
  </section>
  
  <section class="about">
    <h1>About</h1>
    <p>
      Rails & Bootstrap練習用アプリ<br>
      Railsシリーズ課題で作成したblogappに機能追加する形で実装
    </p>
  </section>
